<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Rental Service</title>
</head>
<body>
    <form action="" method="POST">
        <div>
        <label for="">Model</label>
        <input type="text", name= 'model'>
        </div>
        <div>
        <label for="">Daily Fee</label>
        <input type="number", name= 'fee'>
        </div>
        <div>
        <label for="">Image</label>
        <input type="url", name= 'image'>
        </div>
        <div>
        <label for="">Year</label>
        <input type="number", name="year">
        </div>
        <button>Submit</button>
    </form>
    
</body>
</html>